body {
    background: #ffff url("https://i.pinimg.com/564x/c8/8f/a7/c88fa7ffb301cfdcee3d6a18b7eb396e.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: left top;
    margin-left: 300px;
    margin-top: 300px;

    
}